{% extends "base.html" %}
{% block title %}Author read{% endblock %}

{% block content %}
    <div class="box">
        {% if can_edit_author %}
            <h4>Author <a href="{% url 'author_write' author_id %}">(Edit)</a></h4>
        {% else %}
            <h4>Author</h4>
        {% endif %}
        <form method="POST">
        {% csrf_token %}
            {{ form.name.label_tag }}
            {{ form.name }}

            {{ form.biography.label_tag }}
            {{ form.biography }}

            {{ form.birthdate.label_tag }}
            {{ form.birthdate }}
        </form>
    </div>

{% endblock %}