{% extends "base.html" %}
{% block title %}User authors{% endblock %}
{% block content %}
    <header class="align-center">
        <h2>Authors</h2>
    </header>

    <div class="table-wrapper">
        <table class="alt">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Birthdate</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for author in authors %}
                    <tr>
                        <td>
                            <a href="{% url 'author_read' author.id %}">{{ author.name }}</a>
                        </td>
                        <td>{{ author.birthdate }}</td>
                        <td>
                            {% if can_edit_author %}
                                <a href="{% url 'author_write' author.id %}" class="button small">Edit</a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% if can_add_author %}
        <a href="{% url 'author_add' %}" class="button default">Add author</a>
    {% endif %}
{% endblock %}