{% extends "base.html" %}
{% block title %}Author read{% endblock %}

{% block content %}
    <div class="box">
        {% if write %}
            <h4>Author <a href="{% url 'author_read' author_id %}">(Read)</a></h4>
        {% else %}
            <h4>Author</h4>
        {% endif %}
        <form method="POST">
        {% csrf_token %}
            {{ form.name.label_tag }}
            {% for error in form.name.errors %}
                <p style="color: red">{{ error }}</p>
            {% endfor %}
            {{ form.name }}

            {{ form.biography.label_tag }}
            {% for error in form.biography.errors %}
                <p style="color: red">{{ error }}</p>
            {% endfor %}
            {{ form.biography }}

            {{ form.birthdate.label_tag }}
            {% for error in form.birthdate.errors %}
                <p style="color: red">{{ error }}</p>
            {% endfor %}
            {{ form.birthdate }}
            <p></p>
            <input type="submit" value="Save"/>
        </form>
    </div>

{% endblock %}