<!DOCTYPE html>
{% load static %}
<head>
    <title>{% block title %}TaskTracker{% endblock %}</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="stylesheet" href="{% static "assets/css/main.css" %}"/>
</head>
<body class="subpage">
    <header id="header">
        <div class="inner">
            {% if not user_login %}
                <a href="{% url 'index' %}" class="logo"><strong>Archive Manager</strong></a>
            {% else %}
                <a href="{% url 'index' %}" class="logo"><strong>Archive Manager : {{user_login}}</strong></a>
            {% endif %}
            <nav id="nav">
                {% if user_login %}
                    <a href="{% url 'documents' %}">Documents</a>
                    <a href="{% url 'departments' %}">Departments</a>
                    <a href="{% url 'authors' %}">Authors</a>
                    <a href="{% url 'logout' %}">Log out</a>
                {% else %}
                    <a href="{% url 'login' %}">Log in</a>
                {% endif %}
            </nav>
            <a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>
        </div>
    </header>
    <section class="wrapper">
        <div class="inner">
            {% block content %}
            {% endblock %}
        </div>
    </section>
    <script src="{% static "assets/js/jquery.min.js" %}"></script>
	<script src="{% static "assets/js/skel.min.js" %}"></script>
	<script src="{% static "assets/js/util.js" %}"></script>
	<script src="{% static "assets/js/main.js" %}"></script>
</body>
</html>
