{% extends "base.html" %}
{% block title %}Department write{% endblock %}

{% block content %}
    <div class="box">
        {% if write %}
            <h4>Department <a href="{% url 'department_read' department_id %}">(Read)</a></h4>
        {% else %}
            <h4>Department</h4>
        {% endif %}
        <form method="POST">
        {% csrf_token %}
            {{ form.name.label_tag }}
            {% for error in form.name.errors %}
                <p style="color: red">{{ error }}</p>
            {% endfor %}
            {{ form.name }}

            {{ form.address.label_tag }}
            {% for error in form.address.errors %}
                <p style="color: red">{{ error }}</p>
            {% endfor %}
            {{ form.address }}
            <p></p>
            <input type="submit" value="Save"/>
        </form>
    </div>

{% endblock %}