{% extends "base.html" %}
{% block title %}Document read{% endblock %}

{% block content %}
    <div class="box">
        {% if can_edit_document %}
            <h4>Document <a href="{% url 'document_write' document_id %}">(Edit)</a></h4>
        {% else %}
            <h4>Document</h4>
        {% endif %}
        <form method="POST">
        {% csrf_token %}
            {{ form.name.label_tag }}
            {{ form.name }}

            {{ form.description.label_tag }}
            {{ form.description }}
        </form>
    </div>

    <div class="box">
        <h4>Versions</h4>
        <div class="table-wrapper">
            <table class="alt">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Access level</th>
                    <th>Department</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                    {% for version in versions %}
                        <tr>
                        <td>
                            <a href="{% url 'version_read' version.id %}">{{ version.id }}</a>
                        </td>

                        <td>{{ version.access_level }}</td>
                        <td>
                            <a href="{% url 'department_read' version.department_id %}">{{ version.department.name }}</a>
                        </td>
                        <td>
                            {% if can_edit_version %}
                                <a href="{% url 'version_write' version.id %}" class="button small">Edit</a>
                            {% endif %}
                        </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}