{% extends "base.html" %}
{% block title %}Document write{% endblock %}

{% block content %}
    <div class="box">
        <h4>Document</h4>
        <form method="POST">
        {% csrf_token %}
            {{ form.name.label_tag }}
            {% for error in form.name.errors %}
                <p style="color: red">{{ error }}</p>
            {% endfor %}
            {{ form.name }}

            {{ form.description.label_tag }}
            {% for error in form.description.errors %}
                <p style="color: red">{{ error }}</p>
            {% endfor %}
            {{ form.description }}
            <p></p>
            <input type="submit" value="Save"/>
        </form>
    </div>

{% endblock %}