{% extends "base.html" %}
{% block title %}Filter tasks{% endblock %}
{% block content %}
    <form method="POST">
        {% csrf_token %}
            {% for field in form %}
                {% if field.name == 'is_archive' %}
                    <div class="6u$ 12u$(small)">
                        {{ field }}
                        {{ field.label_tag }}
                    </div>
                {% else %}
                    {{ field.label_tag }}
                    {{ field }}
                {% endif %}

                {% for error in field.errors %}
                    <p style="color: red">{{ error }}</p>
                {% endfor %}
                <p></p>
            {% endfor %}
        <input type="submit" value="Filter" class="button small"/>
    </form>
{%  endblock %}