{% extends "base.html" %}
{% block title %}Groups{% endblock %}
{% block content %}
    <header class="align-center">
        <h2>Groups</h2>
    </header>
    <div class="table-wrapper">
        <table class="alt">
            <thead>
            <tr>
                <th>Name</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for group in groups %}
                <tr>
                <td>{{ group.name }}</td>
                <td>
                    <a href="{% url 'group-edit' group.id %}" class="button small">Edit</a>
                    <a href="{% url 'group-remove' group.id %}" class="button small">Remove</a>
                </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <hr class="major" />

    <form method="POST" action="{% url 'add-group' %}">
        {% csrf_token %}
        <label for="group_name">New group name</label>
        <input type="text" id="group_name" name="group_name"/>
        <p></p>
        <input type="submit" value="Add group"/>
    </form>
{% endblock %}