<!DOCTYPE html>
{% load static %}
<head>
    <title>{% block title %}Archive Manager{% endblock %}</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="stylesheet" href="{% static "assets/css/main.css" %}"/>
</head>
<body>
    <header id="header">
        <div class="inner">
            {% if not user_login %}
                <a href="{% url 'index' %}" class="logo"><strong>Archive Manager</strong></a>
            {% else %}
                <a href="{% url 'index' %}" class="logo"><strong>Archive Manager : {{user_login}}</strong></a>
            {% endif %}
            <nav id="nav">
                {% if user_login %}
                    <a href="{% url 'documents' %}">Documents</a>
                    <a href="{% url 'departments' %}">Departments</a>
                    <a href="{% url 'authors' %}">Authors</a>
                    <a href="{% url 'doc_logs' %}">Document logs</a>
                    <a href="{% url 'req_logs' %}">Request logs</a>
                    <a href="{% url 'logout' %}">Log out</a>
                {% else %}
                    <a href="{% url 'login' %}">Log in</a>
                {% endif %}
            </nav>
            <a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>
        </div>
    </header>
    <section id="banner">
        <div class="inner">
            <header>
                <h1>Welcome to Archive Manager</h1>
                <br>
                <br>
                <h3>Application to manage your files</h3>
                <br>
                <br>
                <br>
                <br>
            </header>

            <footer>
                <a href="{% url 'register' %}" class="button">Get Started</a>
            </footer>
        </div>
    </section>
    <script src="{% static "assets/js/jquery.min.js" %}"></script>
	<script src="{% static "assets/js/skel.min.js" %}"></script>
	<script src="{% static "assets/js/util.js" %}"></script>
	<script src="{% static "assets/js/main.js" %}"></script>
</body>
</html>