{% extends "base.html" %}
{% block title %}Plan edit{% endblock %}

{% block content %}
    <h4>Plan</h4>
    <form method="POST">
    {% csrf_token %}
        {% for field in form %}
            {{ field.label_tag }}
            {{ field }}
            {% for error in field.errors %}
                <p style="color: red">{{ error }}</p>
            {% endfor %}
            <p></p>
        {% endfor %}
        <input type="submit" value="Save"/>
    </form>
{% endblock %}