{% extends "base.html" %}
{% block title %}Add task{% endblock %}

{% block content %}
    <form method="POST">
        {% csrf_token %}
        {% for field in form %}
            <p>
                {{ field.label_tag }}<br>
                {{ field }}
                {% for error in field.errors %}
                    <p style="color: red">{{ error }}</p>
                {% endfor %}
            </p>
        {% endfor %}
        <input type="submit" value="Save"/>
    </form>
{% endblock %}