{% extends "base.html" %}
{% block title %}Version write{% endblock %}

{% block content %}
    <div class="box">
        <h4>Version <a href="{% url 'version_read' version_id %}">(Read)</a></h4>
        <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
            {% for field in form %}
                {{ field.label_tag }}
                {{ field }}
                {% for error in field.errors %}
                    <p style="color: red">{{ error }}</p>
                {% endfor %}
                <p></p>
            {% endfor %}
            <p></p>
            <input type="submit" value="Save"/>
        </form>
    </div>

    <div class="box">
        <h4>Authors</h4>
        <div class="table-wrapper">
            <table class="alt">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Birthdate</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                    {% for author in version_authors %}
                        <tr>
                        <td>
                            <a href="{% url 'author_read' author.id %}">{{ author.name }}</a>
                        </td>
                        <td>{{ author.birthdate }}</td>
                        <td>
                            {% if can_edit_authority %}
                                <a href="{% url 'version_remove_author' version_id author.id %}" class="button small">Remove author</a>
                            {% endif %}
                            {% if can_edit_author %}
                                <a href="{% url 'author_write' author.id %}" class="button small">Edit</a>
                            {% endif %}
                        </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% if can_edit_authority %}
            <hr class="major" />
            <form method="POST" action="{% url 'version_add_author' version_id %}">
               {% csrf_token %}
               <select name="author">
                   {% for author in authors %}
                       <option value="{{ author.id }}">{{ author.name }}</option>
                   {% endfor %}
               </select>
               <p></p>
               <input type="submit" value="Add author"/>
            </form>
        {% endif %}
    </div>

{% endblock %}