{% extends "base.html" %}
{% block title %}Version add{% endblock %}

{% block content %}
    <div class="box">
        <h4>Version</h4>
        <form method="POST">
        {% csrf_token %}
            {% for field in form %}
                {{ field.label_tag }}
                {{ field }}
                {% for error in field.errors %}
                    <p style="color: red">{{ error }}</p>
                {% endfor %}
                <p></p>
            {% endfor %}
            <p></p>
            <input type="submit" value="Save"/>
        </form>
    </div>
{% endblock %}